---
title: 'Job Opening: Full Stack Software Engineer'
SEO:
  description_text: Current job openings at Rppl
  prevent_indexing: true
  share_image:
---

<div class="sections">
  <div class="sections__section-backdrop">
    <div class="sections__section">
      <div class="content-block content-block--reduced-margin">
        <div class="content-block__wrapper">
          {% include components/headings-detailed.html eyebrow_heading="Job Opening" heading="No Job Openings" alignment="Center" %}
        </div>
      </div>
      
      <div class="content-block">
        <div class="content-block__wrapper">
          <div class="c-content-block">
            <!-- <p>We are currently not hiring.</p> -->
            <!-- <p>rppl is seeking Full Stack Software Engineer with a passion for innovation and research-driven development. This role will be integral to advancing rppl's platform, blending cutting-edge technology with practical application. As part of our R&D team, you will work at the intersection of software engineering and research, developing next-generation features and exploring new technologies to drive the future of our video meeting platform.
            </p>
            <br>
            <h2>Key Responsibilities:</h2>
            <ul>
            <li> Design, develop, and maintain scalable software systems, with a focus on research-driven innovation.</li>
            <li>Collaborate with the R&D team to conceptualise, prototype, and implement new features and solutions for the rppl platform.</li>
            <li>Conduct research on emerging technologies, including AI, machine learning, and cloud computing, to integrate into platform capabilities.</li>
            <li> Translate research findings and experimental features into functional, user-facing applications.</li>
            <li> Optimise performance, security, and scalability of the software infrastructure in line with rppl's growth.</li>
            <li> Work cross-functionally with product and customer teams to ensure alignment on R&D objectives and development roadmaps.</li>
            <li>Document research findings, development processes, and contribute to the company's knowledge base.</li>
            <li>Stay updated on the latest trends and breakthroughs in software engineering, video technologies, and data processing.</li>
            </ul>
            <br>
            <h2>Key Qualifications:</h2>
            <ul>
            <li>Master's degree or higher in Computer Science, Software Engineering, or a related field.</li>
            <li>Proven experience in software development, particularly in R&D-heavy or innovation-focused environments.</li>
            <li>Proficiency in programming languages such as Typescript, Nodejs, JavaScript, Vue (or similar eg React, Svelte, Angular)</li>
            <li>Experience with cloud platforms (e.g., Google Cloud, AWS) and DevOps practices.</li>
            <li>Familiarity with Generative AI, video processing frameworks, and/or data analytics.</li>
            <li>Strong analytical and problem-solving skills, with an ability to approach challenges from a research-oriented perspective.</li>
            <li>Excellent collaboration and communication skills, with the ability to translate research ideas into practical software solutions.</li>
            <li>Knowledge of industry standards, security protocols (GDPR, CCPA), and best practices in software development and data handling.</li>
            </ul>
            <br>
            <h2>Preferred Qualifications:</h2>
            <ul>
            <li>Experience with ffmpeg and generative AI</li>
            <li>Familiarity with research methodologies and translating theoretical research into practical applications.</li>
            <li>Contributions to open-source projects or relevant R&D initiatives.</li>
            </ul>
            <br>
            <h2>Eligibility:</h2>
            <p>As we are employing under a grant we require the following for an applicant to be eligible:</p>
            <ol>
              <li>You must have recently completed or be about to complete a Masters or PhD in science, technology, engineering, design, or business (or completed within the last 12 months)</li>
              <li>If not a New Zealand citizen, you must have completed (or about to complete) this study at a New Zealand tertiary institution.</li>
              <li>No prior employment in industry: you must not have previously been employed as a software engineer except for temporary or part-time work.</li>
            </ol> -->
          </div>
          
          {% include components/spacer.html height=0 %}
        </div>
      </div>
    </div>
  </div>

  <!-- Call to action -->
  <div class="sections__section-backdrop" style="background-color: #eef4ff;">
    <div class="sections__section">
      <div class="content-block">
        <div class="content-block__wrapper">
          {% include components/call-to-action.html heading="Join our team" subheading="Help shape the future of meeting experiences" content="Apply now to become part of a dynamic team shaping the future of meeting technology!" call_to_action_button_text="Talk to us" call_to_action_button_url="https://my.rppl.app/waitlist?ref=rppl" call_to_action_button_variant="Primary" image="/assets/images/logo-on-white.jpg" %}
        </div>
      </div>
    </div>
  </div>
</div>
