---
title: Status
SEO:
  description_text: Check the current status of Rppl services
  prevent_indexing: false
  share_image:
---

<div class="sections">
  <div class="sections__section-backdrop">
    <div class="sections__section">
      <div class="content-block">
        <div class="content-block__wrapper">
          {% include components/heading.html heading="Application Status for my.rppl.app" heading_alignment="Center" %}
          {% include components/status-block.html %}
        </div>
      </div>
    </div>
  </div>
</div>
