
<div class="c-bullet-list">
    <h2 class="c-bullet-list__header">Your meetings aren't broken. Your stack is!</h2>

    <div class="c-bullet-list__content">
        Most teams today are stuck between endless meetings, messy messaging apps, and disconnected task
        tracking.
    </div>

    <div class="c-bullet-list__bullet-list">
        <div class="c-bullet-list__bullet-list-header">Rppl fixes the chaos — by combining</div>
        <ul>
            <li class="c-bullet-list__bullet-list-item">
                <img src="/assets/icons/green-tick.svg" class="c-bullet-list__bullet-list-icon" />
                <span>async workflows</span>
            </li>
            <li class="c-bullet-list__bullet-list-item">
                <img src="/assets/icons/green-tick.svg" class="c-bullet-list__bullet-list-icon" />
                <span>conference calls</span>
            </li>
            <li class="c-bullet-list__bullet-list-item">
                <img src="/assets/icons/green-tick.svg" class="c-bullet-list__bullet-list-icon" />
                <span>AI summaries</span>
            </li>
            <li class="c-bullet-list__bullet-list-item">
                <img src="/assets/icons/green-tick.svg" class="c-bullet-list__bullet-list-icon" />
                <span>task tracking</span>
            </li>
            <li class="c-bullet-list__bullet-list-item">
                <img src="/assets/icons/green-tick.svg" class="c-bullet-list__bullet-list-icon" />
                <span>enhanced screen recording</span>
            </li>
            <!-- This is for the better layout -->
            <li class="c-bullet-list__bullet-list-item"></li>
        </ul>
        {% include components/button.html button_text="Learn more" button_url="https://my.rppl.app/waitlist?ref=rppl"
        button_variant="Primary" open_in_new_tab=false %}
    </div>

    <div class="c-bullet-list__picture-list">
        <ul>
            <li class="c-bullet-list__picture-list-item">
                <img src="/assets/images/Fig1PointSolution.png" alt="" />
                <span class="c-bullet-list__picture-list-item-text">Replace point solutions like Slack, Zoom, Otter, Loom, and
                    Trello</span>
            </li>
            <li class="c-bullet-list__picture-list-item">
                <img src="/assets/images/Fig2CutMeetings.png" alt="" />
                <span class="c-bullet-list__picture-list-item-text">Cut meetings by 60%</span>
            </li>
            <li class="c-bullet-list__picture-list-item">
                <img src="/assets/images/Fig3TrackDecisions.png" alt="" />
                <span class="c-bullet-list__picture-list-item-text">Capture and track decisions automatically</span>
            </li>
            <li class="c-bullet-list__picture-list-item">
                <img src="/assets/images/Fig4KnowledgeLake.png" alt="" />
                <span class="c-bullet-list__picture-list-item-text">Build a living Knowledge Lake for your company</span>
            </li>
        </ul>
    </div>
</div>