
<div class="c-content-with-image">
    <div class="c-content-with-image__header">Built for fast-moving teams</div>

    <div class="c-content-with-image__content">Whether you work in the office, hybrid setup, or fully remote, Rppl gives your team the
        structure, clarity, and the flow you need to move faster.</div>

    <img src="/assets/images/team_photo.png" alt="" class="c-content-with-image__img">

    <div class="c-content-with-image__list-container">
        <ul class="c-content-with-image__list">
            <li class="c-content-with-image__item">
                <span class="c-content-with-image__item-icon">🙍‍♂️</span>
                <span>Sales and Success Teams</span>
            </li>
            <li class="c-content-with-image__item">
                <span class="c-content-with-image__item-icon">🛠️</span>
                <span>Product and Engineering Teams</span>
            </li>
            <li class="c-content-with-image__item">
                <span class="c-content-with-image__item-icon">⏱️</span>
                <span>Founders and Executive Teams</span>
            </li>
            <li class="c-content-with-image__item">
                <span class="c-content-with-image__item-icon">🌍</span>
                <span>Remote and Hybrid Organizations</span>
            </li>
        </ul>
    </div>
</div>