<div class="c-support">
    <div class="c-support__header">Startup?</div>
    <div class="c-support__subheader">Get 1 month FREE*</div>
    <div class="c-support__content">
        Early-stage teams get 30 days of full Rppl access. Streamline your meetings and optimize your
        team's productivity.
    </div>
    {% include components/button.html button_text="Apply for Beta" button_url="https://my.rppl.app/waitlist?ref=rppl" button_variant="Secondary" open_in_new_tab=false %}
    <span class="c-support__terms">*Terms & conditions apply</span>
</div>